
.text-container__greeting {width:1173px;
    height: 671px;
    padding-left: 80px;

}
.text__greeting {font-size: 66px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 3.2px;
    padding-right: 224px;
    padding-top: 200px;
}
.copyright__text {
    
    padding-top: 171px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.56px;
    margin-bottom: 140px;
    text-align: left;
}