

.redisign__image1 {
    max-height:772px ;
    max-width: 1207px;
    margin: 317px 117px 183px 116px;

}
.redisign__image2 { max-height:763px ;
    max-width: 1156px;
    margin: 100px 117px 68px 116px;
    
}
.redisign__image3{
    max-height:767px ;
    max-width: 1128px;
    margin: 100px 156px 48px 156px;
}
.redisign__image4 {
    max-height:774px ;
    max-width: 1081px;
    margin: 122px 179px 36px 180px;
}
.redisign__image5 {
    max-height:727px ;
    max-width: 1246px;
    margin:100px 97px 105px 97px;
    
}
.redisign__text {
    margin-left: 80px;
    font-weight: 400;
font-size: 26px;
line-height: 38px;
letter-spacing: 0.56px;
}